@model IEnumerable<Homework04.Models.Volunteer>
@{
    ViewBag.Title = "Donate";
}

<h1 style="color:peru">FEED KIDS ESWATINI </h1>
@using (Html.BeginForm())
{
    <div class="form-outline mb-4">
        <label class="form-label" for="form2Example1">Donation Amount: </label>
        <input type="number" name="amount" id="form2Example1" class="form-control" />

    </div>

    <br />
    <!-- Submit button -->
    <button type="submit" class="btn btn-warning btn-square-md">Donate </button>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            Total Donated
        </th>

        <th></th>
    </tr>


    @try
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.donate)
                </td>


            </tr>
        }
    }
    catch { }
</table>
<style>
    body {
        background-color: dimgrey;
    }
</style>
